{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
     <div style="margin-top:80px" class="container">
      <div style="margin-top:80px" class="row">
         <div class="col-lg-12">
            <div class="box-element shadow-lg">
      
               <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190;</a>
      
               <br>
               <br>
               <table class="table">
                  {%for item in items %}
                  <tr>
                     <th class="col-lg-5">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{item.product.ImageURL}}" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h6 class="card-title">{{item.product.name}}</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                    </th>
                    <th><h5>Quantity: <strong>{{item.quantity}}</strong></h5></th>
                    <th><h5>Total: <strong>{{item.get_total}}</strong></h5></th>
                    {%endfor%}
                  </tr>
               </table>
               <div style="margin:10px;"  class="end_checkout">
                  <h5>Quantity: <strong>{{order.get_cart_items}}</strong></h5>
                  <h5>Total: <strong>{{order.get_cart_total}}</strong></h5>
               </div>
            </div>
            <br>
            </div>
      <div class="row">
            <div style="border:solid 1px #ccc;border-radius:10px" class="box-element" id="form-wrapper">
               <form method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                 <button class="btn btn-primary" type="submit">Save</button>
               </form>
            </div>
   
            <br>
            <div class="box-element hidden" id="payment-info">
               <small>Paypal Options</small>
            </div>
     </div>
   </div>
</div>


{% endblock content_checkout %}